.menu {
  .item[data-action] .text::before {
    content: "";
    margin-right: var(--margin);
    width: calc(var(--u) * 2);
    height: calc(var(--u) * 2);
  }

  .item[data-action*='fgAction'] .text::before {
    background: no-repeat center/contain url('data:image/svg+xml,\
    <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">\
    <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" \
    d="M8 4L1 7.5V0.5L8 4Z"/></svg>');
  }

  .item[data-action*='fgTap'] .text::before {
    background: no-repeat center/contain url('data:image/svg+xml,\
    <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">\
    <path opacity="0.6" d="M8 7L1 7L1 1L8 1L4.5 4L8 7Z"/></svg>');
  }
}